#img-login-user {
  display:block;
  margin:auto;
}

.primary-color {
  color: #50b54d;
}

.color-label {
  color: #263238;
}

.btn-login {
  background-color: #50b54d;
  color: #263238;
}

a {
  text-decoration: none;
}

